<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:include="layouts/layout::plantilla">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	 <body class="container" id="page-top">

  <!-- DataTables Example -->
  	<div  th:fragment="content">
    <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Tabla de Datos/ Usuario <button type="button" class="btn btn-primary btn ml-1 mr-5 my-0 my-md-0"> Agregar</button>
      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
          <thead  style="background-color: #03729B">
            <tr id="color1">
                <th>ID</th>
                <th>Rol</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Modificar</th>
			   <th>Eliminar</th>
            </tr>
          </thead>

           <!--Ejemplos de tablas-->
           <tbody>
           <tr>
            <td>1</td>
            <td>Maistro</td>
            <td>Alex</td>
            <td>Ascencio</td>
            <td>Pedro@gmail.com</td>
            <td>soyyosiempre</td>
            <th><button type="button" class="btn btn-outline-primary">Editar</button></th>
            <th><button type="button" class="btn btn-outline-danger">Eliminar</button></th>
          </tr>
        </tbody>
          </table>
          </div>
          </div>
        </div>	
        </div>
</body>
</html>