<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:include="layouts/layout::plantilla">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	 <body class="container">

  <!-- DataTables Example -->
  	<div  th:fragment="content">
    <div class="card mb-3">
    <div class="card-header">
     <i class="fas fa-fw fa-user-circle"></i>
    Tabla de Datos/ Usuario <a class="btn btn-info" th:href="@{/usuarios/guardar}" role="button" id="nuevo"> <i style='font-size:20px' class='fas'>&#xf067;</i> Nuevo</a>
      </div>
      <div class="card-body">
      
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered" id="dataTable">
          <thead class="text-center" style="background-color: #03729B">
            <tr id="color1">
                <th>Id</th>
                <th>Rol</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th style="width:190px">Opciones</th>
            </tr>
          </thead>
			<tbody class="text-center">
           <!-- Estructira repetitiva para recorrer el listado que viene en
		variable 'items', esta el el foreach -->
			<tr th:each="i : ${items}">
				<td th:text="${i.id_usuario}"></td>
				<td th:text="${i.rol.rol}"></td>
				<td th:text="${i.nombre}"></td>
				<td th:text="${i.apellido}"></td>
				<td th:text="${i.usuario}"></td>
				<td> <a name="modificar" id="modificar" class="btn btn-primary mt-1 col-ml-5" th:href="@{'/usuarios/modificar/' + ${i.id_usuario}}" role="button"> <i class='fa fa-pen fa-fw mr-2'></i> Editar</a>
				     <a name="eliminar" id="eliminar" class="btn btn-danger mt-1 col-ml-5" th:href="@{'/usuarios/eliminar/' + ${i.id_usuario}}"  role="button"> <i class='fa fa-trash-alt fa-1x mr-1'></i> Eliminar</a></td>
			</tr>
        </tbody>
          </table>
          </div>
          </div>
        </div>	
        </div>
</body>
</html>