<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
      <!--th:include="components/styleA::stylA"-->
   
	<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    </head>
    
	<body th:fragment="content">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/actividades/guardar" method="post">
				<span class="contact100-form-title">
					AGREGAR ACTIVIDAD
				</span>
				
				<label class="label-input100" for="id_nota">Nota:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="nota" id="nota" class="form-control">
                            <option th:each="n:${notas}" th:value="${n.id_nota}" th:text="${n.nota}"></option>
                        </select>
					<span class="focus-input100"></span>
                </div>
				<label class="label-input100" for="nombre">Nombre:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="nombre" class="input100" type="text" name="nombre" placeholder="Digitar nombre">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="descripcion">Descripcion:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="descripcion" class="input100" type="text" name="descripcion" placeholder="Digitar descripción">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="ponderacion">Ponderación:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="ponderacion" class="input100" type="text" name="ponderacion" placeholder="Digitar ponderación">
					<span class="focus-input100"></span>
                </div>
                              				
				<button  type="submit" class="btn btn-outline-success" id="aceptar">Guardar</button>
				<a class="btn btn-outline-danger" href="/actividades/index" role="button" id="cancelar">Cancelar</a>			
			</form>
		</div>
	</div>

</body>
</html>