<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
      <!--th:include="components/styleA::stylA"-->
   
	<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    </head>
    
	<body th:fragment="content">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" th:action="@{/actividades/modificar}" method="post">
				<span class="contact100-form-title">
					MODIFICAR ACTIVIDAD
				</span>
				<div>
					<input th:value="${item.id_actividad}" id="id_actividad" class="input100" type="hidden" name="id_actividad">
					<span class="focus-input100"></span>
				</div>
				
				<label class="label-input100" for="id_materia">Materia:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="materia" id="materia" class="form-control" required>
                            <div th:each="m:${materias}">
                            <option th:if="${m.id_materia==item.materia.id_materia}" selected th:value="${m.id_materia}" th:text="${m.nombre}"></option>
                            <option th:if="${m.id_materia!=item.materia.id_materia}" th:value="${m.id_materia}" th:text="${m.materia}"></option>
                            </div>
                        </select>
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="nombre">Nombre:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.nombre}" id="nombre" class="input100" type="text" name="nombre" placeholder="Digitar nombre" required>
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="fecha">Fecha:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.fecha}" id="fecha" class="input100" type="date" name="fecha"  min="2019-01-01" max="2019-11-30" placeholder="Digitar fecha" required>
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="descripcion">Descripción:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.descripcion}" id="descripcion" class="input100" type="text" name="descripcion" placeholder="Digitar descripción" required>
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="ponderacion">Ponderación:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.ponderacion}" id="ponderacion" class="input100" type="number" name="ponderacion" min="0.00" max="1.00" step="any" placeholder="Digitar ponderación" required>
					<span class="focus-input100"></span>
                </div>
                               				
				<button  type="submit" class="btn btn-outline-success" id="aceptar">Guardar</button>
				<a class="btn btn-outline-danger" href="/actividades/index" role="button" id="cancelar">Cancelar</a>			
			</form>
		</div>
	</div>

</body>
</html>