<!DOCTYPE html >
	<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
      <!--th:include="components/styleA::stylA"-->
   
	<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    </head>
    
	<body th:fragment="content">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/notas/guardar" method="post">
				<span class="contact100-form-title">
					AGREGAR NOTA
				</span>
				
				<label class="label-input100" for="id_actividad">Actividad:</label>
				<div class="wrap-input100 rs1 validate-input" required>
					<select name="actividad" id="actividad" class="form-control">
                            <option th:each="a:${actividades}" th:value="${a.id_actividad}" th:text="${a.nombre}"></option>
                        </select>
					<span class="focus-input100"></span>
                </div>
			    <label class="label-input100" for="nota">Nota:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="nota" class="input100" type="number" name="nota" min="0.00" max="10.0" step="any" placeholder="Digitar nota" required>
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="observaciones">Observaciones:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="observaciones" class="input100" type="text" name="observaciones" placeholder="Digitar observaciones">
					<span class="focus-input100"></span>
                </div>
                               				
				<button  type="submit" class="btn btn-outline-success" id="aceptar">Guardar</button>
				<a class="btn btn-outline-danger" href="/notas/index" role="button" id="cancelar">Cancelar</a>			
			</form>
		</div>
	</div>
</body>
</html>