<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:include="layouts/layout::plantilla">
<head>
    <meta charset="ISO-8859-1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	 <body class="container">

  <!-- DataTables Example -->
  	<div  th:fragment="content">
    <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Tabla de Datos/ Notas <a class="btn btn-outline-info btn-lg" th:href="@{/notas/guardar}" role="button" id="nuevo">Nuevo</a>
      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
          <thead  style="background-color: #03729B">
            <tr id="color1">
                <th>ID</th>
                <th>Grupo-Estudiante</th>
                <th>Fecha:</th>
                <th>Nota</th>
                <th>Observaciones</th>
                <th>Modificar</th>
			   <th>Eliminar</th>
            </tr>
          </thead>

           <tbody>
           <!-- Estructira repetitiva para recorrer el listado que viene en
		variable 'items', esta el el foreach -->
			<tr th:each="i : ${items}">
				<td th:text="${i.id_nota}"></td>
				<td th:text="${i.grupoestudiante.id_grupoEstudiante}"></td>
				<td th:text="${i.fecha}"></td>
				<td th:text="${i.nota}"></td>
				<td th:text="${i.observaciones}"></td>
				<td> <a name="modificar" id="modificar" class="btn btn-outline-success" th:href="@{'/notas/modificar/' + ${i.id_nota}}" role="button">Modificar</a></td>
				<td> <a name="eliminar" id="eliminar" class="btn btn-outline-danger" th:href="@{'/notas/eliminar/' + ${i.id_nota}}"  role="button">Eliminar</a></td>
			</tr>
        </tbody>
          </table>
          </div>
          </div>
        </div>	
        </div>
</body>
</html>