<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layout::plantilla">
<head>
<meta charset="utf-8">
</head>
<body>

	<!-- DataTables Example -->
	<div th:fragment="content">
		<div class="card mb-3">
			<div class="card-header">Tabla de Datos/ Materias <a class="btn btn-outline-info btn-lg" th:href="@{/materias/guardar}" role="button" id="nuevo">Nuevo</a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable">
						<thead style="background-color: #03729B">
							<tr id="color1">
								<th>Id</th>
								<th>Nombre</th>
								<th>Descripcion</th>
								<th>Especialidad</th>
								<th>Modificar</th>
								<th>Eliminar</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="i:${items}">
								<td th:text=${i.id_materia}></td>
								<td th:text=${i.nombre}></td>
								<td th:text=${i.descripcion}></td>
								<td th:text=${i.especialidad}></td>
								<td><a name="modificar" id="modificar" class="btn btn-outline-success" th:href="@{'/materias/modificar/' + ${i.id_materia}}" role="button">Modificar</a></td>
				                <td><a name="eliminar" id="eliminar" class="btn btn-outline-danger"  role="button" href="#" data-toggle="modal" data-target="#eliminar">Eliminar</a></td>
			
							  <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							    <div class="modal-dialog" role="document">
							      <div class="modal-content">
							        <div class="modal-header">
							          <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de querer Eliminar?</h5>
							          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
							            <span aria-hidden="true">×</span>
							          </button>
							        </div>
							        <div class="modal-body">Al seleccionar "eliminar" desaparecera este registrode forma permanente.
							         No habra manera de recuperarlo.</div>
							        <div class="modal-footer">
							          <button class="btn btn-info" type="button" data-dismiss="modal">Cancelar</button>
							          <a class="btn btn-danger" th:href="@{'/materias/eliminar/' + ${i.id_materia}}" >Eliminar</a>
							        </div>
							      </div>
							    </div>
							  </div>
		</tr>
		</tbody>
  </table>
</div>
	<script type="text/javascript">
	  $('button[name="remove_levels"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    $('#confirm').modal({ backdrop: 'static', keyboard: false })
	        .one('click', 'id_doctor', function (e) {
	            $form.trigger('submit');
	        });
	});
	</script>
</body>

</html>