<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/styleA::stylA">
	<title>Roles</title>
	<meta charset="UTF-8">
</head>
<body>

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					AGREGAR ACTIVIDAD
				</span>

				       <label class="label-input100" for="id_nota">Calificación:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="id_nota">
                    </select>
					<span class="focus-input100"></span>
                </div>

				<label class="label-input100" for="nombre">Nombre de la actividad:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="nombre" class="input100" type="text" name="nombre" placeholder="Digitar nombre">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="descripcion">Descripción:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="descripcion" class="input100" type="text" name="descripcion" placeholder="Digitar Descripción">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="ponderacion">ponderacion:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="ponderacion">
                        <option>---</option>	
                        <option>5%</option>	
                        <option>10%</option>			
                        <option>15%</option>
                        <option>20%</option>
                        <option>25%</option>		
                        <option>30%</option>		
                        <option>35%</option>
                        <option>40%</option>
                        <option>45%</option>		
                        <option>50%</option>		
                        <option>55%</option>
                        <option>60%</option>		
                        <option>70%</option>		
                        <option>75%</option>
                        <option>80%</option>
                        <option>85%</option>		
                        <option>90%</option>		
                        <option>95%</option>
                        <option>100%</option>
                </select>
                </div>
                				
				<button  type="button" class="btn btn-outline-success" id="aceptar">Aceptar</button>
                <button  type="button" class="btn btn-outline-danger" id="cancelar">Cancelar</button>
				
				
							
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="../add/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../add/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../add/vendor/bootstrap/js/popper.js"></script>
	<script src="../add/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../add/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../add/vendor/daterangepicker/moment.min.js"></script>
	<script src="../add/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../add/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../add/js/main.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
	
</body>
</html>