<!DOCTYPE html>
<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org" >
      <!--th:include="layouts/layout::plantilla"-->
<head th:include="components/styleA::stylA">
    <meta charset="ISO-8859-1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo</title>
</head>
<body th:fragment="content">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/grupos/guardar" method="post">
				<span class="contact100-form-title">
					AGREGAR GRUPO
				</span>
				<label class="label-input100" for="id_materia">Materia:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="materia" id="materia" class="form-control">
                            <option th:each="m:${materias}" th:value="${m.id_materia}" th:text="${m.nombre}"></option>
                        </select>
					<span class="focus-input100"></span>
                </div>
				<label class="label-input100" for="grupo">Grupo:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="grupo" class="input100" type="text" name="grupo" placeholder="Digitar grupo">
					<span class="focus-input100"></span>
				</div>

				
				<button  type="sumit" class="btn btn-outline-success" id="aceptar">Guardar</button>
                <a   class="btn btn-outline-danger" href="/grupos/index" id="cancelar">Cancelar</a>
							
			</form>
		</div>
	</div>
</html>